@page "/participant"
@inject QuizManager QuizManager
@inject NavigationManager NavigationManager
@implements IDisposable
@rendermode InteractiveServer

<div>Participant</div>

@if (_quiz != null)
{
    <PageTitle>Quizz participant - @_quiz.Title</PageTitle>
    <h4>
        @_quiz.Title
    </h4>
    <h3>
        @_quiz.Questions[_quiz.CurrentQuestionIndex].Text
    </h3>

    <div class="answers-div">
        @for (int i = 0; i < _quiz.Questions[_quiz.CurrentQuestionIndex].Answers.Count; i++)
        {
            <button class="answer-button" @onclick="@(e => Submit(i))">
                @_quiz.Questions[_quiz.CurrentQuestionIndex].Answers[i]
            </button>
        }
    </div>
}

@code {

    [SupplyParameterFromQuery]
    private string? Id { get; set; }

    private Quiz? _quiz;

    protected override void OnInitialized()
    {
        QuizManager.OnStateChanged += Refresh;

        if (Id == null) NavigationManager.NotFound();

        _quiz = QuizManager.GetQuiz(Id!);
        if (_quiz == null) NavigationManager.NotFound();

        Refresh();
    }

    private void Submit(int index)
    {
        ParticipantAnswer participantAnswer = new()
        {
            AnswerIndex = _quiz.CurrentQuestionIndex,
            ParticipantID = "myId",
            TimeStamp = DateTime.UtcNow
        };

        QuizManager.SubmitAnswer(participantAnswer, _quiz.Questions[_quiz.CurrentQuestionIndex]);
    }

    public void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        QuizManager.OnStateChanged -= Refresh;
    }

}